  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    All ads
  </div>


  <div class="row">
    <% @ads.each do |ad| %>
      <div class="col-12 col-sm-6 col-md-4 mb-3">
        <%= link_to root_path(:id), style:"text-decoration: none" do %>
          <div class="card-product">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
            <div class="card-product-infos">
              <h2> <%= ad.name %> </h2>
              <p> <%= ad.category %> </p>
              <p><%= ad.description %> <strong>relevant info</strong> only.</p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
