

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
    <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
    <a href="#"><i class="fab fa-twitter fa-lg"></i></a>
    <a href="#" id = "footer" target="_blank">• Conditions générales d'utilisation</a>
    <a href="#" id = "footer" target="_blank">• Politique relative à la protection des données personnelles</a>
    <a href="#" id = "footer" target="_blank">• Politique en matière de cookies</a>
    <a href="#" id = "footer" target="_blank">• Gestion des cookies et consentement</a>
    <a href="#" id = "footer" target="_blank">• Règles de référencement</a>
  </div>
  <div class="footer-copyright">
    © 2023, Travaux Loc
  </div>
</div>
