.banner {
  font-family: "Roboto";
  background-size: cover;
  background-position: center;
  height: 250px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner h1 {
  font-family: "Roboto";
  padding-bottom: 8px;
}
