.card-product {
  font-family: "Roboto";
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 160;
  color: black
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: black
}

.card-product .card-product-infos {
  padding: 16px;
  color: black;
}

.btn-red {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: red;
  border-color: red;
  border-radius: 20px;
  font-weight: 400;
}

.btn-blue {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: #0014FF;
  color: white;
  border-radius: 20px;
  font-weight: 500;
  margin-top: 10px;
}

.btn-blue:hover {
  background-color: none;
  color: #0014FF;
  border-color: #0014FF;
  border-radius: 20px;
  align-items: center;
}
