.dashboard-user-bar {
  height: 120px;
  display: flex;
  align-items: center;
  color: white;
  background-color: #023e8a;
  font-size: 24px;
  padding: 30px;
  }

  .dashboard-user-bar .avatar-user {
  border: 1px solid white;
}
