.footer {
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.6);
  margin-top: 15px;
  vertical-align: baseline;
  bottom: 0;
  width: 100%;
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.30;
  text-decoration: none;
  font-size: 10px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
