.navbar-lewagon {
  justify-content: space-between;
  background: white;
  font-family: Roboto;
  font-weight: 400;
  font-size: 15px;
}

.navbar-lewagon .category {
  border-radius: 30px;
  vertical-align: baseline;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 40px;
}
