.container-form {
  width: 800px;
  margin: auto;
  font-family: "Roboto";
  background-color: white;
  color: #27374D;
  margin-top: 20px;
  padding: 30px;
  padding-bottom: 0px;
  border-radius: 10px;
}

.container-form h5 {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 25px;
  color: #023e8a;
}


.btn-blue {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: #023e8a;
  color: white;
  border-radius: 20px;
  font-weight: 500;
  margin-top: 10px;
}

.btn-blue:hover {
  background-color: #03045e;
  color: white;
  transition: 0.3s ease;
}
