.dashboard-style {
  font-family: "Roboto";
}

.title-category {
  font-size: 20px;
  font-weight: 500;
  color: #023e8a;
}

.btn-tiny-red {
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-color: red;
  color: red;
  border-radius: 15px;
  font-size: 13px;
}

.btn-green {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #63af90;
  color:white;
  border-radius: 15px;
  font-size: 13px;
  font-weight: 500;
}
