.dashboard-style {
  font-family: "Roboto";
}

.title-category {
  margin-top: 30px;
  font-size: 18px;
  font-weight: 500;
  color: #1E88E5;
}

.btn-tiny-red {
  width: 80px;
  height: 30px;
  // padding: 3px;
  // padding-left: 10px;
  // padding-right: 10px;
  border-color: red;
  color: red;
  border-radius: 15px;
  font-size: 13px;
}

.btn-green {
  width: 80px;
  height: 30px;
  // padding-left: 10px;
  // padding-right: 10px;
  background-color: #63af90;
  color:white;
  border-radius: 15px;
  font-size: 13px;
  font-weight: 500;
}
